# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# PyCharm
# =========================
.idea/


# =========================
# Virtual environments
# =========================
venv/
env/
.venv/


# =========================
# Model weights
# 模型非常大，绝对不要上传 GitHub
# =========================
models/
*.ckpt
*.safetensors
*.bin
*.pt
*.pth


# =========================
# Hugging Face cache
# =========================
.cache/
huggingface/


# =========================
# Generated images
# 暂时不上传所有生成结果
# =========================
outputs/


# =========================
# Logs / temp
# =========================
*.log
*.tmp


# =========================
# OS files
# =========================
Thumbs.db
.DS_Store